@model EmployeeDirectory.ViewModels.LoginViewComponentModel

@if (Model.IsAuthenticated)
{
    <li>
        <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" class="navbar-right">
            Hello @Model.Name!
            <button type="submit" class="btn btn-link navbar-btn navbar-link">Log off</button>
        </form>
    </li>
}
else
{
    <li><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
}
